.container {
  width: 70%;
  margin: auto;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-20px);
  animation: animeContainer .3s forwards ;
}

@keyframes animeContainer {
  to {
    opacity: 1;
    transform: initial;
  }
}

button {
  margin-right: 2rem;
}
.produtos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.produto {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-top: 2rem;
  margin-right: 1rem;
  transition: .2s ease-in-out;
}

.produto:hover {
  background: #eeeeee;
  border-radius: 8px;
}

.produto img {
  border-radius: 8px;
}
.produto h1 {
  font-size: 1.5rem;
  text-decoration: none;
}
.containerProduto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  gap: 2rem;
}
.produtoInfo > span {
  background: rgb(184, 247, 90);
  padding: .5rem 1rem;
  border-radius: 4px;
}

.fotos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.produtoSrc {
  max-width: 30rem;
  border-radius: 8px;
}
